<div class="body typo-rhythm typo-format">

	twig

	{% if suptitle != null %}
		<h{{suptitleLevel}} class="_suptitle typo-h{{ suptitleLevel }}">{{ suptitle }}</h{{suptitleLevel}}>
	{% endif %}

	{% if title != null %}
		<h{{titleLevel}} class="_title typo-h{{ titleLevel }}">{{ title }}</h{{titleLevel}}>
	{% endif %}

	{% if subtitle != null %}
		<h{{subtitleLevel}} class="_subtitle typo-h{{ subtitleLevel }}">{{ subtitle }}</h{{subtitleLevel}}>
	{% endif %}

	{% if lead != null %}
		<p class="_lead typo-lead">{{ lead }}</p>
	{% endif %}

	{% if text != null %}
		<p class="_text typo-p">{{ text }}</p>
	{% endif %}

	{% if buttons is defined and buttons is iterable %}
		<div class="_buttons">
			{% for button in buttons %}
				{{ button.html }}
			{% endfor %}
		</div>
	{% endif %}

</div>
