<div class="body {% if typoClasses %} typo-rhythm typo-format {% endif %}">

	twig

	{% if suptitle != null %}
		<h{{suptitleLevel}} class="_suptitle {% if typoClasses %} typo-h{{ suptitleLevel }} {% endif %}">{{ suptitle }}</h{{suptitleLevel}}>
	{% endif %}

	{% if title != null %}
		<h{{titleLevel}} class="_title {% if typoClasses %} typo-h{{ titleLevel }} {% endif %}">{{ title }}</h{{titleLevel}}>
	{% endif %}

	{% if subtitle != null %}
		<h{{subtitleLevel}} class="_subtitle {% if typoClasses %} typo-h{{ subtitleLevel }} {% endif %}">{{ subtitle }}</h{{subtitleLevel}}>
	{% endif %}

	{% if lead != null %}
		<p class="_lead {% if typoClasses %} typo-lead {% endif %}">{{ lead }}</p>
	{% endif %}

	{% if text != null %}
		<p class="_text {% if typoClasses %} typo-p {% endif %}">{{ text }}</p>
	{% endif %}

	{% if buttons is defined and buttons is iterable %}
		<div class="_buttons">
			{% for button in buttons %}
				{{ button.html }}
			{% endfor %}
		</div>
	{% endif %}

</div>
